.boxOne {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  .forNumbers {
    font-size: 2rem;
  }
  .forButtons {
    display: flex;
    gap: 50px;
    button {
      width: 50px;
      height: 50px;
    }
  }
  .forInput {
    font-size: 1.5rem;
    text-align: center;
    input {
      padding: 15px;
      font-size: 1.3rem;
    }
    .inputShow {
      background: #282828;
      color: #f2f2f2;
      padding: 25px;
    }
    button{
      padding: 15px;
    }
  }
}
